<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Chatting App</title>
  <link rel="stylesheet" type="text/css" href="../css/meyers_reset.css" />
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <% if (user) { %>
    <script type="text/javascript" src="../js/index.js"></script>
  <% } %>
</head>
<body>
  <header>
    <h1>Members Only</h1>
    <nav>
      <% if (user) { %>
        <ul id="list-nav">
          <li><%= user.first_name %></li>
          <li><button type="button" id="btn-sign-out">Sign Out</button></li>
        </ul>
      <% } else { %>
        <ul id="list-nav">
          <li><a href="/users/login">Sign In</a></li>
          <li><a href="/users/signup">Sign Up</a></li>
        </ul>
      <% } %>
    </nav>
  </header>
  <main>
    <% if (user) { %>
      <h2>Feed</h2>
      <ul id="list-feed">
        <% messages.forEach(function(message){ %>
          <li data-id="<%= message.id %>">
            <h3><%= message.title %></h3>
            <span><%= message.author %></span>
            <div><%= message.content %></div>
            <div class="message-footer">
              <ul>
                <li>
                  <button type="button" class="btn-edit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn-delete">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                  </button>
                </li>
              </ul>
            </div>
          </li>
        <% }); %>
      </ul>
      <div>
        <h2>New Message</h2>
        <form id="form-message-new" action="/messages" method="POST">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" placeholder="Super Secret Message" />
          <label for="content">Content</label>
          <textarea id="content" name="content" rows="15" cols="6">Insert content here...</textarea>
          <button id="btn-submit-message" type="submit">Send Message</button>
        </form>
      </div>
    <% } else { %>
      <h2>HeHe Hidden Feed</h2>
      <img id="img-sneaky" src="../images/lucky_star_sneak.jpeg" alt="Image of Konata Izumi from Lucky Star depicting a sneaky-like attitude" />
    <% } %>
  </main>
</body>